* {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
body {
    background-color: darkslategrey;
}
.disabled {
    color: lightslategrey !important;
}
input {
    color: black;
}
